@import "print";


.cash-receipt-orders1 {
    transform: rotate(90deg);
    margin-top: -37px; 
    width: 70%;
    margin-left: 13%;

}
.cash-receipt-orders2 {
    transform: rotate(90deg);
    margin-top: 80px;
    width: 70%;
    margin-left: 28%;
}
.table1{
    border-collapse: collapse;
    margin-left: 50%;
    
}

.document-number{
    height: 90px;

}
.table2{
    border-collapse: collapse;
}
