@import "print";


.container{
    display: flex;
    width: 50%;
    height: 150px;
    border: 1px solid;
    align-items: center;
    text-align: center;
}
.container1{
    width: 50%;
    height: 150px;
    border: 1px solid;
    border-left: none;
}
.cont1{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid;
}