@import "print";


td,th{
    height: 14px;
}

table{
    border:1px solid;
      width: 100%;
      border-collapse: collapse;
}
.table-deg{
    margin-top: 250px;
    transform: rotate(90deg);
}
.new-page {
    page-break-before: always;
    min-height: 395mm!important;
}